@font-face {
    font-family: plus jakarta sans;
    font-weight: 400;
    src: url(../fonts/PlusJakartaSans-Regular.woff);
}
@font-face {
    font-family: plus jakarta sans;
    font-weight: 500;
    src: url(../fonts/PlusJakartaSans-Medium.woff);
}